@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-black-opacity-03: rgba(0, 0, 0, 0.3);

  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #ffffff;

  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;

  /*status*/
  --special: #F6DADA;

  /*background*/
  --special-grey: #888888;
  --basic-grey-white: rgb(242, 242, 242);
  --basic-grey-1: rgb(235, 235, 235);
  --basic-grey-2: rgb(217, 217, 217);
  --basic-grey-3: rgba(238, 238, 238, 0.7);
}

/*Global*/
.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

/*блок хедер - меню, слайдер*/
.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.main-header {
  margin: auto;
  margin-top: 40px;
}

/*блок желтый с меню*/
.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 44px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: var(--special-yellow-light);
}

/*logo хедер*/
.main-header-logo {
  width: 163px;
  height: 34px;
  margin-top: -20px;
  margin-bottom: 16px;
}

.main-header-logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

/*форма поиска с кнопкой найти*/
.search {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-column: 1/2;
  width: 440px;
  height: 50px;
  margin-bottom: 30px;
}

/*текст в форме поиска*/
.search-text {
  padding-left: 37px;
  border-style: none;
  background-color: var(--special-yellow-light);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  opacity: 0.3;
}

.search-text:hover {
  opacity: 0.6;
}

.search-text:focus {
  opacity: 1;
}

/*кнопка найти в хедере*/
.btn-search {
  display: none;
  border: solid 2px black;
  background-color: var(--special-yellow-light);
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;
  color: var(--basic-black);
  transition:
    color 0.2s ease-out,
    background-color 0.2s ease-out;
}

.btn-search:hover {
  cursor: pointer;
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.btn-search:active {
  background-color: var(--basic-black);
  color: var(--basic-white-opacity-03);
}

/*блок header-nav с войти/сравнить/корзина*/

/*список header-nav с войти/сравнить/корзина*/
.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}

/*каждый пункт header-nav с войти/сравнить/корзина*/
.nav-item {
  margin-left: 40px;
}

.nav-item:first-child {
  margin-left: 0;
  margin-right: auto;
}

/*<a> ссылка с войти/сравнить/корзина*/
.nav-link {
  line-height: 20px;
  color: var(--basic-black);
  padding: 0;
}

/*иконка с войти/сравнить/корзина*/
.nav-link-login {
  margin-right: 14px;
}

/*блок catalog в хедере*/
.catalog-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 44px;
  grid-column: 1/3;
  position: relative;
  z-index: 1;
}

.catalog-content:hover .submenu {
  display: flex;
}

/*текст Каталог товаров с иконкой рядом, при нажатии выезжает блок с меню */
.topmenu {
  display: inline-block;
  position: relative;
  padding-left: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  margin-bottom: 18px;
}

.topmenu img {
  position: absolute;
  display: inline-block;
  right: -38px;
  bottom: 3px;
}

/*выезжающее горизонтальное меню*/
.submenu {
  display: none;
  height: 146px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 18px;
  padding: 0 50px;
  list-style: none;
  position: absolute;
  left: -60px;
  right: -60px;
  background-color: var(--special-yellow-light);
}

.submenu-item {
  margin-right: 61px;
}

.submenu-item:last-child {
  margin-bottom: 60px;
  margin-right: 0;
}

.submenu-link {
  display: block;
  padding: 10px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
}

.submenu-link:hover {
  opacity: 0.6;
}

.submenu-link:active {
  opacity: 0.3;
}

/*список с доставка/гарантии/контакты*/
.site-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 18px;
}

.menu-item {
  margin-right: 38px;
}

.menu-item:last-child {
  margin-right: 0;
  margin-left: auto;
}

/*каждый пункт с доставка/гарантии/контакты*/
.menu-link {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*кнопка подробнее и др с желтой полосой*/
.btn {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.2em;
  padding: 9px 14px 9px 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.btn:hover {
  background-color: var(--special-yellow-dark);
}

.btn:active {
  color: var(--basic-black-opacity-03);
}

/*блок со слайдом - картинка, слоган, описание*/
.slider {
  position: relative;
}

.promo {
  display: none;
}

.promo-active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 44px;
}

.promo-img {
  /*картинка*/
  padding-left: 30px;
  grid-column: 1/2;
  grid-row: 1/5;
}

/*слоган*/
.tagline {
  margin-top: 109px;
  margin-bottom: 26px;
  display: grid;
  padding-left: 0;
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*описание под слоганом*/
.description {
  margin: 0 0 52px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
}

.slider .btn {
  justify-self: start;
  min-width: 220px;
  margin-bottom: 50px;
}

/*характеристики товара в слайдере*/
.characteristics {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  row-gap: 15px;
  column-gap: 64px;
}

.characteristics-item {
  letter-spacing: 0.12em;
  grid-row: 1/2;
  font-size: 36px;
  line-height: 41px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.characteristics-definition {
  letter-spacing: 0.08em;
  grid-row: 2/3;
  margin: 0px;
  font-size: 13px;
  line-height: 14px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*блок с круглыми кнопками слайдера*/
.slider-btn {
  position: absolute;
  left: 800px;
  right: 88px;
  bottom: 127px;
  display: flex;
  justify-content: flex-end;
}

.slider-change {
  list-style: none;
  margin-left: 18px;
}

/*круглые кнопки слайдера*/
.btn-change {
  width: 12px;
  height: 12px;
  padding: 0;
  border: 1px solid var(--basic-black);
  border-radius: 12px;
  background-color: var(--basic-white);
  display: flex;
  cursor: pointer;
}

.btn-change::after {
  display: none;
  content: "";
  width: 6px;
  height: 6px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid var(--basic-black);
}

.slider-change-active .btn-change::after {
  display: block;
}

/*мейн*/

/*общий блок - внутри 6 желтых квадратов с иконкой внутри и текстом под ним*/
.popular-device {
  /*отступы*/
}

.device-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  padding: 0;
  align-content: center;
}

.device-item {
  width: 160px;
  height: 160px;
  /*background-color: var(--special-yellow-light);*/
}

.device-item h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*блок условия - доставка/гарантия/кредит*/
.conditions {
  background-color: var(--basic-grey-light);
  padding-bottom: 129px;
  margin-top: 106px;
}

.conditions-container {
  display: grid;
  grid-template-columns: 284px auto;
  gap: 0 116px;
}

/*список с кнопками доставка/гарантия/кредит*/
.conditions-menu {
  list-style: none;
  grid-column: 1/2;
  padding-top: 54px;
  padding-left: 0;
  margin: 0;
}

.conditions-item {
  margin-bottom: 22px;
}

.conditions-item .btn {
  min-width: 160px;
}

.conditions-content {
  display: none;
  grid-column: 2/3;
  padding-right: 260px;
}

.conditions-content-active {
  display: block;
}

.conditions-heading {
  letter-spacing: 0.2em;
  grid-row: 1/2;
  margin-bottom: 40px;
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.conditions-text {
  letter-spacing: 0.1em;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: var(--basic-black);
}

/*бренды*/
.brands {
  margin-top: 90px;
  background-color: var(--basic-white);
}

.brands-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  align-content: center;
  padding: 0;
  margin: 0;
}

.brands-item {
  opacity: 0.3;
}

/*о нас*/
.columns {
  margin-bottom: 86px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.about-us-heading,
.contacts-heading {
  margin-bottom: 40px;
  letter-spacing: 0.2em;
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.about-us-text {
  margin: 0;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

.about-us-list {
  list-style: none;
  padding-left: 32px;
  margin: 0;
  padding-top: 18px;
  margin-bottom: 54px;
}

.about-us-item {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
  color: var(--basic-black);
}

.about-us .btn {
  align-self: start;
}

/*контакты*/
.contacts-text {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

.contacts img {
  margin-bottom: 67px;
}

.contacts .btn {
  justify-self: start;
}

/*футер*/
.main-footer {
  background-color: var(--basic-dark);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  padding-top: 46px;
  padding-bottom: 64px;
}

.footer-logo {
  margin-top: 18px;
}

.footer-logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-navigation {
  grid-column: 2/4;
  grid-row: 1/2;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  margin-left: 51px;
}

.navigation-link {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
}

.footer-address {
  align-self: flex-start;
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
  padding: 0;
  margin: 0;
}

.footer-menu {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-menu-item {
  margin: 0 18px;
}

.footer-menu-link {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-white);
}

.footer-phone {
  justify-self: end;
  align-self: start;
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
}

/*блок иконки соц сетей*/
.footer-social {
  grid-column: 2/3;
  grid-row: 3/4;
  padding-top: 20px;
}

/*список иконки соц сетей*/
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-item {
  margin: 0 10px;
}

.social-btn {
  display: block;
  width: 32px;
  height: 32px;
}

.social-btn-fb {
  background-image: url('../img/icons/icon-facebook.svg');
}

.social-btn-inst {
  background-image: url('../img/icons/icon-instagram.svg');
}

.social-btn-twit {
  background-image: url('../img/icons/icon-twitter.svg');
}

.logo-copyright {
  justify-self: end;
  align-self: start;
  grid-column: 3/4;
  grid-row: 3/4;
  margin: 19px 0;
}

.logo-copyright:hover {
  cursor: pointer;
}

/*модальные окна*/
.modal {
  display: none;
}

.modal-close {
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50px;
  background-color: var(--special-yellow-dark);
  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

/*текст рядом с полями ввода*/
.field-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*текст внутри полей ввода*/
.field-input {
  background-color: var(--basic-grey-white);
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 0.4;
}

/*страница каталога*/

/*каждый пункт header-nav с войти/сравнить/корзина*/
.header-nav-authorized .nav-item {
  margin-left: 50px;
}

.header-nav-authorized .nav-item:first-child {
  margin-left: 0;
  margin-right: auto;
}

.heading-breadcrumbs {
  display: grid;
  grid-template-columns: 580px 580px;
  grid-template-rows: 102px auto;
  margin-bottom: 37px;
  margin-top: 44px;
}

.page-heading {
  /*заголовок в каталоге*/
  padding-left: 60px;
  grid-column: 1/2;
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.breadcrumbs {
  list-style: none;
  padding-left: 50px;
  grid-row: 2/3;
  margin: 11px;
}

.breadcrumbs-text {
  display: inline-grid;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
  opacity: 0.3;
  margin-right: 40px;
}

.catalog-header {
  display: grid;
  grid-template-columns: 328px auto;
  column-gap: 72px;
}

.options {
  padding-left: 60px;
  padding-top: 10px;
  background-color: var(--basic-grey-light);
  grid-row: 1/7;
}

.options-text {
  margin-bottom: 70px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.filters .filter {
  border: none;
  padding: 0;
  margin: 0;
}

.filter {
  margin-top: 53px;
}

.filter-title {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.slider {
  margin-bottom: 38px;
}

.filter-list {
  margin-top: 15px;
  padding: 0;
  /* margin: 0; */
  list-style: none;
}

.filter-item .checkbox {
  width: 24px;
  height: 24px;
}


.checkbox-choice {
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
}

.radio-choice {
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
}

.options .btn {
  margin-top: 32px;
}

.sorting {
  display: flex;
  align-items: center;
  background-color: var(--basic-grey-light);
}

.sorting-text {
  padding-right: 74px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.sorting-list {
  margin-right: auto;
  padding: 2px;
  list-style: none;
  display: flex;
}

.sorting-item {
  margin-right: 30px;
}

.sorting-link {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-black);
}

.sorting-link:hover {
  cursor: pointer;
  opacity: 0.3;
}

.sorting-link:active {
  opacity: 1;
}

/*стрелки-треугольники*/
.sorting-btn {
  display: flex;
  margin-left: 45px;
  margin-right: -10px;
}

.arrow-up,
.arrow-down {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.arrow-up:hover,
.arrow-down:hover {
  opacity: 0.4;
}

.arrow-up:active,
.arrow-down:active {
  opacity: 1;
}

.catalog {
  padding-top: 69px;
  padding-bottom: 78px;
}

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 0;
}

.catalog-item {
  display: grid;
  grid-template-columns: 270px auto;
  column-gap: 11px;
}

.catalog-link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.product-price {
  align-self: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.catalog .btn {
  display: none;
}

.compare-add {
  display: none;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  color: var(--basic-black);
}

.pages {
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-grey-1);
}

.btn-pages {
  display: flex;
  align-items: center;
  padding: 20px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.btn-pages:hover {
  background-color: var(--basic-grey-2);
}

.btn-pages:active {
  opacity: 0.3;
}

.page-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.page-number {
  padding-right: 30px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
}

.page-number:hover {
  opacity: 0.6;
}

.page-number:active {
  opacity: 1;
}
