@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-black-opacity-03: rgba(0, 0, 0, 0.3);

  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #ffffff;

  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;

  /*status*/
  --special: #F6DADA;

  /*background*/
  --special-grey: #888888;
  --basic-grey-white: rgb(242, 242, 242);
  --basic-grey-1: rgb(235, 235, 235);
  --basic-grey-2: rgb(217, 217, 217);

}

/*Global*/
.page {
  height: 100%;
}

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*header*/

/*блок хедер - меню, слайдер*/
.container {
  width: 1160px;
}

.main-header {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 116px;
}

/*блок желтый с меню*/
.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 44px;

  height: 300px;
  padding-left: 60px;
  background-color: var(--special-yellow-light);
}

/*logo хедер*/
.main-header-logo {
  width: 163px;
  height: 34px;
  margin-top: -20px;
}

.main-header-logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

/*форма поиска с кнопкой найти*/
.search {
  display: grid;
  grid-column: 1/2;

  width: 440px;
  height: 50px;
  margin-bottom: 50px;
}

/*иконка формы поиска*/
.search-img {}


/*текст в форме поиска*/
.search-text {
  border-style: none;
  background-color: var(--special-yellow-light);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  opacity: 0.3;
}

.search-text:hover {
  opacity: 0.6;
}

.search-text:focus {
  opacity: 1;
}

/*кнопка найти в хедере*/
.btn-search {
  display: inline-block;
  width: 84px;
  height: 50px;
  border: solid 2px;
  background-color: var(--special-yellow-light);
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;
  color: var(--basic-black);
}

.btn-search:hover {
  cursor: pointer;
  transition: all 0.5s ease-out;
  border: none;
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.btn-search:active {
  border: none;
  background-color: var(--basic-black);
  color: var(--basic-white-opacity-03);
}

/*блок header-nav с войти/сравнить/корзина*/
.header-nav {
  display: grid;
}

/*список header-nav с войти/сравнить/корзина*/
.nav-list {
  list-style: none;
  padding: 0;

}

/*каждый пункт header-nav с войти/сравнить/корзина*/
.nav-item {
  width: 498px;
  height: 20px;
  margin: 0 auto;
}

/*<a> ссылка с войти/сравнить/корзина*/
.nav-link {
  /*указать падинги*/
  padding-right: 40px;
  line-height: 20px;
  color: var(--basic-black);
}

.nav-link:first-child {
  padding-right: 176px;
}

/*иконка с войти/сравнить/корзина*/
.nav-link-login {
  margin-right: 14px;
}



/*блок catalog в хедере*/
.catalog-product {
  display: grid;
  grid-column: 1/3;
  TODO
}



.catalog-content {
  position: relative;
}

/*текст Каталог товаров с иконкой рядом, при нажатии выезжает блок с меню */
.topmenu {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.catalog-content:hover .submenu {
  display: block;
}

/*выезжающее горизонтальное меню*/
.submenu {
  list-style-type: none;
  display: none;
  position: absolute;
  left: 60px;
  top: 30px;
}

.submenu-link {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
}

/*список с доставка/гарантии/контакты*/
.site-menu {
  display: grid;
  grid-column: 2/3;
  padding: 0;
}

.menu-item {
  list-style: none;

}

/*каждый пункт с доставка/гарантии/контакты*/
.menu-link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}


/*блок со слайдом - картинка, слоган, описание*/
.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 44px;

  background-color: var(--basic-white);
}

.promo-img {
  /*картинка*/
  grid-column: 1/2;
  grid-row: 1/5;
  margin-top: -47px;
  padding-left: 30px;
  TODO
}

/*слоган*/
.tagline {
  display: grid;
  grid-column: 2/3;

  padding-left: 0;
  margin-top: -36px;
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*описание под слоганом*/
.description {
  display: grid;
  grid-column: 2/3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
}

/*кнопка подробнее и др с желтой полосой*/
.btn {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.btn:hover {
  width: 220px;
  height: 40px;
  background-color: var(--special-yellow-dark);
}

.btn:active {
  color: var(--basic-black-opacity-03);
}

/*характеристики товара в слайдере*/
.characteristics {}

.characteristics-item {
  font-size: 36px;
  line-height: 41px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.characteristics-definition {
  display: inline-block;

  font-size: 13px;
  line-height: 14px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*блок с круглыми кнопками слайдера*/
.slider-btn {}

.slider-change {
  list-style: none;
}

/*круглые кнопки слайдера*/
.btn-change {
  width: 12px;
  height: 12px;
  border: solid 1px;
  border-radius: 12px;
  background-color: var(--basic-white);
}

.btn-change:hover {
  cursor: pointer;
}

/*мейн контейнер*/
.main-container {
  max-width: 1160px;
  margin: 0 auto;

}

/*общий блок - внутри 6 желтых квадратов с иконкой внутри и текстом под ним*/
.popular-device {
  /*отступы*/
  margin-top: 116px;
}

.device-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 0 40px;
  padding: 0;
  align-content: center;
}

.device-list:first-child {
  gap: 0;
}



.device-item {
  width: 160px;
  height: 160px;
  /*background-color: var(--special-yellow-light);*/
}

.device-item h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}


/*блок условия - доставка/гарантия/кредит*/
.conditions {
  max-width: 1440px;
  background-color: var(--basic-grey-light);
  min-height: 288px;
  display: grid;
  margin-top: 106px;
}

.conditions-container {
  display: grid;
  grid-template-columns: 277px 495px auto;
  gap: 0 116px;
}



/*список с кнопками доставка/гарантия/кредит*/
.conditions-menu {
  margin-top: -10px;
  list-style: none;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/4;
}

.conditions-content {
  display: grid;
  grid-column: 2/3;
}

.conditions-heading {
  grid-row: 1/2;
  margin-top: -29px;
  margin-bottom: 40px;
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.conditions-text {
  grid-row: 2/3;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: var(--basic-black);
}

/*бренды*/
.brands {
  margin-top: 90px;
  background-color: var(--basic-white);
}

.brands-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 0 40px;
  align-content: center;
  padding: 0;
}

.brands-item {
  opacity: 0.3;
}

/*о нас*/
.about-us__contacts {
  margin-top: 90px;
  margin-bottom: 86px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat (5, 20%);
  gap: 0 127px;
}

.about-us {
  display: grid;
  grid-column: 1/2;
}

h2 {
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.about-us-text {
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

.about-us-list {
  margin-top: 60px;
  list-style: none;
  margin-bottom: 84px;
}

.about-us-item {
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
  color: var(--basic-black);
}

/*контакты*/
.contacts {
  display: grid;
  grid-column: 2/3;
}

.contacts-text {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

.contacts .btn {
  display: grid;
  margin-top: 80px;
}


/*футер*/
.main-footer {
  min-height: 324px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 33%);
  padding-left: 139px;
  background-color: var(--basic-dark);
}

.footer-logo {
  margin-top: 64px;
}

.footer-logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-navigation {
  grid-column: 3/4;
  grid-row: 1/2;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
}

.footer-address {
  margin-top: 40px;
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
}

.footer-menu {
  grid-column: 2/3;
  grid-row: 2/3;

}

.footer-menu-list {
  list-style: none;
}

.footer-menu-link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-white);
}

.footer-phone {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
}


/*блок иконки соц сетей*/
.footer-social {
  grid-column: 2/3;
  grid-row: 3/4;
}

/*список иконки соц сетей*/
.social-list {
  list-style: none;
}

.logo-copyright {
  padding-left: 199px;
  grid-column: 3/4;
  grid-row: 3/4;
}

.logo-copyright:hover {
  cursor: pointer;
}


/*модальные окна*/
.modal-close {
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50px;
  background-color: var(--special-yellow-dark);
  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

/*текст рядом с полями ввода*/
.field-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*текст внутри полей ввода*/
.field-input {
  background-color: var(--basic-grey-white);
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 0.4;
}



/*страница каталога*/

/*хедер страницы каталога*/
.main-nav.catalog-nav {
  min-height: 186px;
}

.main-container {
  display: grid;
}

h1 {
  /*заголовок в каталоге*/
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-text {
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
  opacity: 0.3;
}

.options {
  background-color: var(--basic-grey-light);
}

.options-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.filter-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.filter-list {
  list-style: none;
}

.checkbox-choice {
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
}

.radio-choice {
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
}


.sorting {
  background-color: var(--basic-grey-light);
}

.sorting-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.sorting-list {
  list-style: none;
}

.sorting-item {}

.sorting-item:hover {
  opacity: 0.3;
}

.sorting-item:active {
  opacity: 1;
}

.sorting-link {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-black);
}

/*стрелки-треугольники*/
.arrow-up:hover,
.arrow-down:hover {
  opacity: 0.4;
}

.arrow-up:active,
.arrow-down:active {
  opacity: 1;
}

.catalog {
  background-color: var(--basic-white);
}

.catalog-list {
  list-style: none;
}

.catalog-item {}

.catalog-link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.product-price {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.compare-add {
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  color: var(--basic-black);
}

.pages {
  background-color: var(--basic-grey-1);
}

.btn-pages {
  width: 120px;
  height: 70px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.btn-pages:hover {
  background-color: var(--basic-grey-2);
}

.btn-pages:active {
  opacity: 0.3;
}

.page-list {
  list-style: none;
}

.page-number {
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
}

.page-number:hover {
  opacity: 0.6;
}

.page-number:active {
  opacity: 1;
}
