@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-black-opacity-03: rgba(0, 0, 0, 0.3);

  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #ffffff;

  --special-yellow: #F7E296;
  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;

  /*status*/
  --special: #F6DADA;

  /*background*/
  --special-grey: #888888;
  --basic-grey-white: rgb(242, 242, 242);
  --basic-grey-1: rgb(235, 235, 235);
  --basic-grey-2: rgb(217, 217, 217);
  --basic-grey-3: rgba(238, 238, 238, 0.7);
}

/*Global*/
.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

/*блок хедер - меню, слайдер*/
.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.main-header {
  margin: auto;
  margin-top: 40px;
}

/*блок желтый с меню*/
.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 44px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  background-color: var(--special-yellow-light);
}

/*logo хедер*/
.main-header-logo {
  width: 163px;
  height: 34px;
  margin-top: -20px;
  margin-bottom: 16px;
}

.main-header-logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

/*форма поиска с кнопкой найти*/
.search {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-column: 1/2;
  width: 440px;
  height: 50px;
  margin-bottom: 30px;
}

/*текст в форме поиска*/
.search-text {
  padding-left: 37px;
  border-style: none;
  background-color: var(--special-yellow-light);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  opacity: 0.3;
}

.search-text:hover {
  opacity: 0.6;
}

.search-text:focus {
  opacity: 1;
}

/*кнопка найти в хедере*/
.btn-search {
  display: none;
  border: solid 2px black;
  background-color: var(--special-yellow-light);
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;
  color: var(--basic-black);
  transition:
    color 0.2s ease-out,
    background-color 0.2s ease-out;
}

.btn-search:hover {
  cursor: pointer;
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.btn-search:active {
  background-color: var(--basic-black);
  color: var(--basic-white-opacity-03);
}

/*блок header-nav с войти/сравнить/корзина*/

/*список header-nav с войти/сравнить/корзина*/
.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}

/*каждый пункт header-nav с войти/сравнить/корзина*/
.nav-item {
  margin-left: 40px;
}

.nav-item:first-child {
  margin-left: 0;
  margin-right: auto;
}

/*<a> ссылка с войти/сравнить/корзина*/
.nav-link {
  display: block;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0;
  background-repeat: no-repeat;
  padding-left: 26px;

}

/*иконка с войти/сравнить/корзина*/
.nav-link-login {
  background-image: url('../img/icons/man.svg');
  background-position: left center;
}

.nav-link-compare {
  background-image: url('../img/icons/compare.svg');
  background-position: left center;

}

.nav-link-basket {
  background-image: url('../img/icons/basket.svg');
  background-position: left center;

}

.nav-link-logout {
  opacity: 0.3;
  padding: 0;
}

.nav-link-user {
  background-image: url('../img/icons/man.svg');
  background-position: left center;
}

/*блок catalog в хедере*/
.catalog-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 44px;
  grid-column: 1/3;
  position: relative;
  z-index: 1;
}

.catalog-content:hover .submenu {
  display: flex;
}

/*текст Каталог товаров с иконкой рядом, при нажатии выезжает блок с меню */
.topmenu {
  display: inline-block;
  position: relative;
  padding-left: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  margin-bottom: 18px;
}

.topmenu img {
  position: absolute;
  display: inline-block;
  right: -38px;
  bottom: 3px;
}

/*выезжающее горизонтальное меню*/
.submenu {
  z-index: 3;
  display: none;
  height: 147px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 7px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 33px;
  margin: 0;
  list-style: none;
  position: absolute;
  left: -60px;
  right: -60px;
  background-color: var(--special-yellow-light);
}

.submenu-item {
  margin-right: 41px;
}

.submenu-item:last-child {
  margin-bottom: 60px;
  margin-right: 0;
}

.submenu-link {
  display: block;
  padding: 7px 10px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
}

.submenu-link:hover {
  opacity: 0.6;
}

.submenu-link:active {
  opacity: 0.3;
}

/*список с доставка/гарантии/контакты*/
.site-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 18px;
}

.menu-item {
  margin-right: 38px;
}

.menu-item:last-child {
  margin-right: 0;
  margin-left: auto;
}

/*каждый пункт с доставка/гарантии/контакты*/
.menu-link {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*кнопка подробнее и др с желтой полосой*/
.btn {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.2em;
  padding: 9px 14px 9px 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  background-image: linear-gradient(#F0C52E 8px, white 8px);
  background-size: auto 8px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn:hover {
  background-color: var(--special-yellow-dark);
}

.btn:active {
  color: var(--basic-black-opacity-03);
}

/*блок со слайдом - картинка, слоган, описание*/
.slider {
  position: relative;
  z-index: 0;
}

.slider::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  top: 49px;
  left: 600px;
}

.promo .numbers {
  content: "";
  position: absolute;
  top: 0px;
  left: 930px;
}

.numbers {
  font-size: 179px;
  line-height: 212px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-white);
  opacity: 1;
}

.promo {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 0 44px;
  background-image: linear-gradient(#F7E296 146px, white 100px);
  margin-bottom: 76px;
  margin-top: -30px;
}

.promo-active {
  display: grid;
}

.promo-img {
  /*картинка*/
  padding-top: 101px;
  padding-left: 30px;
  grid-column: 1/2;
  grid-row: 1/5;
}

/*слоган*/
.tagline {
  z-index: 1;
  margin-top: 109px;
  margin-bottom: 26px;
  display: grid;
  padding-left: 0;
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*описание под слоганом*/
.description {
  margin: 0 0 52px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
}

.slider .btn {
  justify-self: start;
  min-width: 220px;
  margin-bottom: 50px;
}

/*характеристики товара в слайдере*/
.characteristics {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  row-gap: 15px;
  column-gap: 64px;
}

.characteristics-item {
  letter-spacing: 0.12em;
  grid-row: 1/2;
  font-size: 36px;
  line-height: 41px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.characteristics-definition {
  letter-spacing: 0.08em;
  grid-row: 2/3;
  margin: 0px;
  font-size: 13px;
  line-height: 14px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*блок с круглыми кнопками слайдера*/
.slider-btn {
  position: absolute;
  left: 800px;
  right: 88px;
  bottom: 127px;
  display: flex;
  justify-content: flex-end;
}

.slider-change {
  list-style: none;
  margin-left: 18px;
}

/*круглые кнопки слайдера*/
.btn-change {
  width: 12px;
  height: 12px;
  padding: 0;
  border: 1px solid var(--basic-black);
  border-radius: 12px;
  background-color: var(--basic-white);
  display: flex;
  cursor: pointer;
}

.btn-change::after {
  display: none;
  content: "";
  width: 6px;
  height: 6px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid var(--basic-black);
}

.slider-change-active .btn-change::after {
  display: block;
}

/*мейн*/

/*общий блок - внутри 6 желтых квадратов с иконкой внутри и текстом под ним*/
.popular-device {}

.device-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  padding: 0;
  margin: 0;
  align-content: center;
}

.device-item a {
  display: block;
  position: relative;
  padding-top: 198px;
}

.device-item h3 {
  margin: 0;
}

.device-item:active h3 {
  opacity: 0.1;
}

.device-item a::after,
.device-item a::before {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
}

.device-item a::before {
  background-color: var(--special-yellow-light);
}

.device-item:hover a::before {
  background-color: var(--special-yellow-dark);
}

.device-item:active a::after {
  opacity: 0.1;
}

.device-item a::after {
  background-repeat: no-repeat;
  background-position: center;
}

.virtual a::after {
  background-image: url(../img/icons/popular-device1.svg);
}

.monopod a::after {
  background-image: url(../img/icons/popular-device2.svg);
}

.camera a::after {
  background-image: url(../img/icons/popular-device3.svg);
}

.fitness a::after {
  background-image: url(../img/icons/popular-device4.svg);
}

.clock a::after {
  background-image: url(../img/icons/popular-device5.svg);
}

.copter a::after {
  background-image: url(../img/icons/popular-device6.svg);
}

.device-item h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*блок условия - доставка/гарантия/кредит*/
.conditions {
  background-color: var(--basic-grey-light);
  padding-bottom: 129px;
  margin-top: 106px;
  background-image: linear-gradient(white 100px, #E5E5E5 100px);
}

.conditions-container {
  display: grid;
  grid-template-columns: 284px auto;
  gap: 0 116px;
}

/*список с кнопками доставка/гарантия/кредит*/
.conditions-menu {
  position: relative;
  list-style: none;
  grid-column: 1/2;
  padding-top: 54px;
  padding-left: 0;
  margin-top: 27px;
}

.conditions-menu::after {
  content: "";
  position: absolute;
  display: block;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
  top: 0px;
  right: 0px;
}

.conditions-item {
  margin-bottom: 22px;
}

.conditions-item-active {
  background-color: var(--basic-black);
}

.conditions-item-active .btn {
  color: var(--special-yellow);
  background-image: none;
  background-color: var(--basic-black);
}

.conditions-item .btn {
  min-width: 160px;
}

.conditions-content {
  position: relative;
  display: none;
  grid-column: 2/3;
  padding-right: 260px;
}

.conditions-content-active {
  display: block;
}

.conditions-content::after {
  position: absolute;
  content: "";
  width: 236px;
  height: 164px;
  background-image: url(../img/icons/man-run.svg);
  background-repeat: no-repeat;
  background-position: right top;
  top: 67px;
  right: 0;
}









.conditions-heading {
  margin-top: 68px;
  letter-spacing: 0.2em;
  grid-row: 1/2;
  margin-bottom: 40px;
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.conditions-text {
  letter-spacing: 0.1em;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: var(--basic-black);
}

/*бренды*/
.brands {
  margin-top: 90px;
  background-color: var(--basic-white);
}

.brands-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  align-content: center;
  padding: 0;
  margin: 0;
}

.brands-item {
  opacity: 0.3;
}

.brands-item:hover {
  opacity: 1;
}

/*о нас*/
.columns {
  position: relative;
  margin-top: 90px;
  margin-bottom: 86px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.columns::after {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  top: 0px;
  left: 0px;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.about-us-heading,
.contacts-heading {
  margin-bottom: 40px;
  letter-spacing: 0.2em;
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.about-us-text {
  margin: 0;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

.about-us-list {
  list-style: none;
  padding-left: 32px;
  margin: 0;
  padding-top: 18px;
  margin-bottom: 54px;
}

.about-us-item {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
  color: var(--basic-black);
}

.about-us .btn {
  align-self: start;
}

/*контакты*/
.contacts {
  position: relative;
}

.contacts::after {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  top: 0px;
  left: 0px;
}

.contacts-text {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

.contacts img {
  margin-bottom: 67px;
}

.contacts .btn {
  justify-self: start;
}

/*футер*/
.main-footer {
  background-color: var(--basic-dark);
  position: relative;
}

.main-footer::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  background-color: rgba(255, 198, 0, 1);
  top: 239px;
  left: 176px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  padding-top: 46px;
  padding-bottom: 64px;
}

.footer-logo {
  margin-top: 18px;
}

.footer-logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-navigation {
  grid-column: 2/4;
  grid-row: 1/2;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  margin-left: 51px;
}

.navigation-link {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
}

.footer-address {
  align-self: flex-start;
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
  padding: 0;
  margin: 0;
}

.footer-menu {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-menu-item {
  margin: 0 18px;
}

.footer-menu-link {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-white);
}

.footer-phone {
  justify-self: end;
  align-self: start;
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
}

/*блок иконки соц сетей*/
.footer-social {
  grid-column: 2/3;
  grid-row: 3/4;
  padding-top: 20px;
}

/*список иконки соц сетей*/
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-item {
  margin: 0 10px;
}

.social-btn {
  display: block;
  width: 32px;
  height: 32px;
}

.social-btn-fb {
  background-image: url('../img/icons/icon-facebook.svg');
}

.social-btn-inst {
  background-image: url('../img/icons/icon-instagram.svg');
}

.social-btn-twit {
  background-image: url('../img/icons/icon-twitter.svg');
}

.footer-copyright {
  justify-self: end;
  align-self: start;
  grid-column: 3/4;
  grid-row: 3/4;
  margin: 19px 0;
}

.footer-copyright:hover {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}


/*модальные окна*/
.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 960px;
  height: min-content;
  margin: auto;
  padding: 63px 100px 84px;
  background-color: white;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-title {
  font-size: 50px;
}

.modal-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.modal-field {
  display: grid;
  gap: 9px;
  margin: 0;
}

.modal-field input,
.modal-field textarea {
  padding: 15px;
  border: 2px solid grey;
}

.modal-field textarea {
  height: 167px;
}

.modal-send {
  justify-self: start;
}

.modal-field-wide {
  grid-column: 1/-1;
}

/*кнопка закрыть*/
.modal-close {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50px;
  background-color: var(--special-yellow-dark);
  opacity: 0.5;
}

.modal-close:hover {
  cursor: pointer;
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::after {
  content: "";
  margin: auto;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/cross.svg);
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

/* текст рядом с полями ввода */
.field-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/* текст внутри полей ввода */
.field-input {
  background-color: var(--basic-grey-white);
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 0.4;
}

/*страница каталога*/

/*каждый пункт header-nav с войти/сравнить/корзина*/
.header-nav-authorized .nav-item:first-child {
  margin-right: 0;
}

.header-nav-authorized .nav-item:nth-child(2) {
  margin-left: 20px;
  margin-right: auto;
}

.heading-breadcrumbs {
  display: grid;
  grid-template-columns: 580px 580px;
  grid-template-rows: 102px auto;
  margin-bottom: 42px;
}

.page-heading {
  /*заголовок в каталоге*/
  margin-top: 44px;
  padding-left: 60px;
  grid-column: 1/2;
  font-size: 47px;
  line-height: 57px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 50px;
  grid-row: 2/3;
  margin: 11px;
  margin-top: 27px;
}

.breadcrumbs-text {
  display: flex;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
  margin-right: 18px;
  align-items: center;
}

.breadcrumbs-text:last-child::after {
  display: none;
}

.breadcrumbs-text a {
  opacity: 0.3;
}

.breadcrumbs-text:last-child {
  opacity: 0.3;
}

.breadcrumbs-text::after {
  content: "";
  background-image: url(../img/icons/mini-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 6px;
  height: 4px;
  margin-left: 18px;
}

.catalog-container {
  background-image:
    linear-gradient(#DCDCDC 70px, #E5E5E5 70px),
    linear-gradient(#E5E5E5 70px, white 70px);
  background-size: 50% 100%, 100% 100%;
  background-repeat: no-repeat;
  background-position: -252px 0, 0 0;
}


.catalog-header {
  display: grid;
  grid-template-columns: 328px auto;
  column-gap: 72px;
}

.options {
  padding-left: 60px;
  padding-top: 10px;
  grid-row: 1/7;
}

.options-text {
  margin-bottom: 70px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.filters {
  margin-top: 86px;
}

.filter {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 53px;
  border-top: 2px solid var(--basic-black);
  margin-right: 68px;
}

.filter-title {
  display: block;
  float: left;
  width: 100%;
  margin-top: 17px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.range-filter {
  margin-top: 49px;
}

.filter-item {
  margin-bottom: 15px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  padding-right: 10px;
  padding-left: 10px;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #91C92F;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  display: flex;
}

.price-controls label {
  position: absolute;
  display: flex;
  font-size: 14px;
  font-family: "Gilroy", "Arial", sans-serif;
  width: 55px;
}

.price-controls input {
  margin-left: 2px;
  color: #283136;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
}

.filter-list {
  clear: both;
  padding: 0;
  margin: 0;
  list-style: none;
}

.checkbox-choice {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
}

.checkbox-choice::before,
.checkbox-choice::after {
  width: 24px;
  height: 24px;
}

.checkbox-choice::before {
  content: "";
  display: inline-block;
  border: 2px solid black;
  margin-right: 18px;
}

.checkbox-choice::after {
  opacity: 0;
  position: absolute;
  content: "";
  background-image: url(../img/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox-input:checked+.checkbox-choice::after {
  opacity: 1;
}

.radio-choice {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
}

.radio-choice::before,
.radio-choice::after {
  width: 24px;
  height: 24px;
}

.radio-choice::before {
  content: "";
  display: inline-block;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 18px;
}

.radio-choice::after {
  opacity: 0;
  position: absolute;
  left: 8px;
  content: "";
  background-color: var(--basic-black);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.radio-input:checked+.radio-choice::after {
  opacity: 1;
}

.options .btn {
  margin-top: 32px;
}

.sorting {
  display: flex;
  align-items: center;
  background-color: var(--basic-grey-light);
}

.sorting-text {
  padding-right: 74px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.sorting-list {
  margin-right: auto;
  padding: 2px;
  list-style: none;
  display: flex;
}

.sorting-item {
  margin-right: 30px;
}

.sorting-link {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-black);
}

.sorting-link:hover {
  cursor: pointer;
  opacity: 0.3;
}

.sorting-link:active {
  opacity: 1;
}

/*стрелки-треугольники*/
.sorting-btn {
  display: flex;
  margin-left: 45px;
  margin-right: -10px;
}

.arrow-up,
.arrow-down {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.arrow-up:hover,
.arrow-down:hover {
  opacity: 0.4;
}

.arrow-up:active,
.arrow-down:active {
  opacity: 1;
}

.catalog {
  padding-top: 78px;
  padding-bottom: 78px;
}

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}

.catalog-item {
  z-index: 0;
  position: relative;
  display: grid;
  grid-template-columns: 270px auto;
  grid-template-rows: 381px auto;
  column-gap: 11px;
  row-gap: 30px;
}


.catalog-item:hover::after {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  content: "";
  background-color: rgba(238, 238, 238, 0.7);
  height: 381px;
}

.catalog-link h3 {
  letter-spacing: 0.05em;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  margin: 0;
}

.product-price {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  margin: 0;
}

.catalog-item .btn {
  display: none;
  z-index: 2;
  position: absolute;
  top: 170px;
  left: 73px;
  right: 83px;
}

.compare-add {
  display: none;
  z-index: 2;
  position: absolute;
  top: 225px;
  left: 15px;
  right: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  color: var(--basic-black);
}

.catalog-item:hover .btn,
.catalog-item:hover .compare-add {
  display: block;
}

.pages {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-grey-1);
}

.btn-pages {
  min-width: 120px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 25px 20px;
  text-align: center;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.btn-pages:hover {
  background-color: var(--basic-grey-2);
}

.btn-pages:active {
  opacity: 0.3;
}

.page-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.page-number {
  display: block;
  padding: 25px 17px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
}

.page-number:hover {
  opacity: 0.6;
}

.page-number:active {
  opacity: 1;
}

/*футер главной и каталога*/
.footer-navigation-authorized .navigation-item:first-child {
  margin-left: 60px;
}

.footer-navigation-authorized .navigation-item:nth-child(2) {
  margin-left: 24px;
}

/*иконка с войти/сравнить/корзина*/
.navigation-link {
  padding-left: 26px;
  background-repeat: no-repeat;
}

.navigation-link-login {
  background-image: url('../img/icons/yellow-man.svg');
  background-position: left center;
}

.navigation-link-compare {
  background-image: url('../img/icons/yellow-compare.svg');
  background-position: left center;
}

.navigation-link-basket {
  background-image: url('../img/icons/yellow-basket.svg');
  background-position: left center;
}

.navigation-link-logout {
  padding: 0;
}

.navigation-link-user {
  background-image: url('../img/icons/yellow-man.svg');
  background-position: left center;
}
